@charset "UTF-8";

/* Mobile First */

@font-face {
    font-family: 'Yamaka Personal Used';
    font-style: normal;
    font-weight: normal;
    src: local('Yamaka Personal Used'), url('../fontes/YamakaPersonalUsed-VGrrx.woff') format('woff');
}

:root {
    --vermelho-forte: #D90429;
    --vermelho: #ED1C24;
    --vermelho-rosado: #ee4256;
    --salmao: #DC493A;
    --salmao-medio: #BB342F;
    --salmao-escuro: #A22522;
    --cinza-escuro: #2B2D42;
    --cinza: #8D99AE;
    --claro: #EDF2F4;
    --marrom: #2C0703;
}

body {

}

section#principal {
    background-color: var(--claro);
    padding: 25px;
}

menu#filter {
    display: flex;
}

main ul {
    list-style-type: none;
    padding: 5px;
}

main ul > li {
    padding: 10px 30px 10px 10px;
    color: var(--vermelho-forte);
    cursor: pointer;
    border-radius: 5px;
}

main ul > li:hover {
    background-color: var(--salmao-medio);
    color: var(--claro);
    transition: .3s;
}

article#shoes {
    text-align: center;
}

.card {
    width: 250px;
    display: inline-block;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 15px;
    padding: 20px 10px;
}

.card .img-box {
    position: relative;
    height: 250px;
    width: 100%;
}

.card img {
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card p {
    text-align: left;
}

.card .preco {
    font-size: 1.8em;
}

.card sup {
    font-size: .5em;
}

.card .frete {
    color: green;
}

