@charset "UTF-8";

:root {
    --vermelho-forte: #D90429;
    --vermelho: #ED1C24;
    --vermelho-rosado: #ee4256;
    --salmao: #DC493A;
    --salmao-medio: #BB342F;
    --salmao-escuro: #A22522;
    --cinza-escuro: #2B2D42;
    --cinza: #8D99AE;
    --claro: #EDF2F4;
    --marrom: #2C0703;
}

/*
    Device breakpoints
    600
    768
    992
    1200
*/

@media screen and (min-width:992px) {

    body {
        background: black url(../imagens/fundos/fundo-led.jpg) no-repeat top center;
        background-size: cover;
        background-attachment: fixed;
    }

    header > h1 {
        color: var(--vermelho-forte);
    }

    section#principal {
        width: 80%;
        background-color: transparent;
        backdrop-filter: blur(15px);
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.116);
        margin: auto;
        margin-top: 50px;
        border-radius: 20px;
        padding-bottom: 40%;
    }

    header {
        background-color: transparent;
    }


    menu#login-signup > ul > li > a:hover, span#close:hover {
        background-color: var(--vermelho-forte);
    }

    section#principal > p {
        color: white;
    }

    section#principal > menu > ul > li {
        color: var(--claro);
    }

    section#principal > menu > ul > li:hover {
        background-color: white;
        color: var(--vermelho-forte);
    }

    .card {
        position: relative;
        width: 440px;
    }

    .card .img-box {
        float: left;
        width: 290px;
        margin: -10px;
    }

    .card img {
        width: 80%;
    }

    .card .paragrafo {
        float: right;
        font-size: 1.2em;
    }

    .card .preco {
        font-size: 2.3em;
    }
}