@charset "UTF-8";

@media screen and (max-width: 600px){
    menu {
        flex-flow: column wrap;
        text-align: center;
    }
/*
    .item {
        display: none;
    }
    
    #botao {
        display: block;
    }

    #close {
        display: none;
    }
*/

    nav {
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 600px) {
    menu {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #botao {
        display: none;
    }

    .item {
        display: block;
    }

    h1, .item {
        flex: none;
    }

    nav {
        flex-flow: row nowrap;
    }
}