:root {
    --cor01: #000000;
}

body {
    position: relative;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, white, gray);
    height: 100vh;
  }
  
  main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: black;
    color: white;
    padding: 20px;
  }
            
  input#limp {
    background-color: darkviolet;
    color: white;
    padding: 8px;
    border: 0px;
    border-radius: 16px;
  }
  